.custom-header {
  background-color: #8E66B8 !important;
  border-radius: 0;
  color: white;
  font-weight: bold;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #3700B3;
  margin-right: 20px;
}

.login-button {
  background-color: #6A40A5 !important;
  border: none;
  color: white;
}
.logo-img {
  width: 50px;  /* Ajusta el tamaño según necesites */
  height: 50px;
  margin-right: 10px;
  margin-left: 50px;
}

.logo-text {
  font-size: 18px;
  font-weight: bold;
  color: white;
}