<div class="register-container">
  <div class="register-left">
    <h2>Registro</h2>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <!-- Nombre -->
      <label for="name">Nombre de usuario</label>
      <input
        type="text"
        id="name"
        formControlName="name"
        placeholder="Tu Nombre"
      />
      <div class="error" *ngIf="name.invalid && (name.dirty || name.touched)">
        <span *ngIf="name.errors?.['required']">El nombre es obligatorio.</span>
        <span *ngIf="name.errors?.['minlength']">Mínimo 3 caracteres.</span>
      </div>

      <!-- Password -->
      <label for="password">Contraseña</label>
      <input
        type="password"
        id="password"
        formControlName="password"
        placeholder="******"
      />
      <div
        class="error"
        *ngIf="password.invalid && (password.dirty || password.touched)"
      >
        <span *ngIf="password.errors?.['required']"
          >La contraseña es obligatoria.</span
        >
        <span *ngIf="password.errors?.['minlength']">
          Mínimo 6 caracteres.
        </span>
      </div>

      <button
        type="submit"
        class="btn btn-signin"
        [disabled]="registerForm.invalid"
      >
        Registrarme
      </button>
    </form>
  </div>
  <div class="register-right">
    <div class="register-info">
      <h3>Inicia a gestionar hoy</h3>
      <p>
        Regístrate y comienza a gestionar tus eventos de la mejor manera. Con
        nuestro sistema de monitoreo podrás tener un control total de tus
        eventos.
      </p>
      <img src="assets/bienvenida.png" alt="Bienvenida example" />
    </div>
  </div>
</div>
