<div class="event-list-container">
  <h2>📅 Lista de Eventos</h2>

  <p-table [value]="events" responsiveLayout="scroll" class="custom-table">
    <ng-template pTemplate="header">
      <tr>
        <th>Título</th>
        <th>Descripción</th>
        <th>Ubicación</th>
        <th>Fecha</th>
        <th>Acciones</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-event>
      <tr>
        <td>{{ event.titleEvent }}</td>
        <td>{{ event.descriptionEvent }}</td>
        <td>{{ event.locationEvent }}</td>
        <td>{{ event.dateEvent | date:'dd/MM/yyyy' }}</td>

        <td>
          <p-button
            icon="pi pi-pencil"
            class="p-button-rounded p-button-warning"
            (onClick)="goToEditEvent(event)"
          ></p-button>
          <p-button
            icon="pi pi-trash"
            class="p-button-rounded p-button-danger"
            (onClick)="deleteEvent(event)"
          ></p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<app-button-create-event></app-button-create-event>
